<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Войти</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/styles.css') }}">
</head>
<body>
    <h1>Войти на сайт</h1>
    <form method="POST">
        <div>
            <label for="login">Логин:</label>
            <input type="text" name="login" id="login" required>
        </div>
        <div>
            <label for="password">Пароль:</label>
            <input type="password" name="password" id="password" required>
        </div>
        <button type="submit">Войти</button>
    </form>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <footer>
        <p>&copy;Бархатова Ольга, ФБИ-24. 2024</p>
    </footer>
</body>
</html>
