<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой профиль</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Мой профиль</h1>

    <p><strong>Логин:</strong> {{ user.login }}</p>
    <p><strong>Полное имя:</strong> {{ user.fullname }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>О себе:</strong> {{ user.about }}</p>
    <p><strong>Аватар:</strong> <img src="{{ url_for('static', filename='avatars/' + user.avatar) }}" alt="Avatar" width="100"></p>

    <!-- Кнопка для редактирования профиля -->
    <a href="{{ url_for('edit_profile') }}">Изменить</a>

    <br>
    <a href="{{ url_for('main') }}">На главную</a>
    <h2>Мои объявления</h2>
{% for ad in user_ads %}
    <div>
        <h3>{{ ad.title }}</h3>
        <p>{{ ad.content }}</p>
        <a href="{{ url_for('edit_ad', ad_id=ad.id) }}">Редактировать</a>
        <form action="{{ url_for('delete_ad', ad_id=ad.id) }}" method="post" style="display:inline;">
            <button type="submit">Удалить</button>
        </form>
    </div>
{% endfor %}
<footer>
    <p>&copy;Бархатова Ольга, ФБИ-24. 2024</p>
</footer>
</body>
</html>
